@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

// vars
@import 'variables';

// components
::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar-track {
  background: theme('colors.gray.100');
  border-left: 1px solid theme('colors.gray.200');
}
::-webkit-scrollbar-thumb {
  border: 4px solid theme('colors.gray.100');
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: theme('colors.slate.300');
}
::-webkit-scrollbar-thumb:hover {
  background-color: theme('colors.slate.400');
}
html.dark {
  ::-webkit-scrollbar-track {
    background: theme('colors.slate.800');
    border-left: 1px solid theme('colors.slate.700');
  }
  ::-webkit-scrollbar-thumb {
    border-color: theme('colors.slate.800');
    background-color: theme('colors.slate.500');
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: theme('colors.slate.400');
  }
}

.blog-container {
  background-color: #222;
  box-shadow: inset 60px 0 120px #f0f, inset -60px 0 120px #0ff;
  padding: 2em;
}

.hero, .content-doc {
  display: flex;
  justify-content: center;
  padding-top: 3em;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 600;
  color: #eee;
}

h2 {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 100;
  color: #eee;
  margin-top: 0;
}

p, span {
  color: #eee;
}

p {
  padding: 0 2em 0 2em;
}

span {
  font-weight: 100;
  font-size: 0.75em;
}

.movie-image {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 1em;

  img {
    display: flex;
    justify-content: center;
    width: 400px;
    max-width: 100%;
  }
}

// animations
@import 'animations/transitions';